.tournament-bracket {
  background: #333333 url("http://i1171.photobucket.com/albums/r545/Brahak/checks_zpsry5renpb.png");
    color: #FFFFFF
  }
body {
        background-image:url("http://i.ytimg.com/vi/34sEX6VM9sU/maxresdefault.jpg");
        background-repeat:no-repeat;
        background-position:center
}
